

.dashboard-div {

position: relative;
top:4rem;


}

.leftdash-div {
   position: relative;
   padding: 1% 2% 0px 1%;
  
}

.contains {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
    
  
     
   
      margin-left: 15%;
    
}



.rightdash-div {
    
   
    margin:  0px 0px 0px 10px;
    height: 85vh;
    width: 29vw;
    position: relative;
    left: 3%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10%;
   
}
.heading h2 {
   color:  #ffa33a; 
}

.content span {
    font-size: 25px;
    font-weight: 600;
   
}
.content p {
    font-size: 20px;
    margin-top: 10%;
     color: #000000; ;
    line-height: 3.0rem;
}

.rightdash-div .heading{
      
    font-size: 22px;
}

.rightdash-div .content {
  
}





.cards-div {
     
  
     display: grid;
    
     grid-template-columns:  auto 1fr;;
    
     width: 100%;
    
 
     
     margin-right: 30px; 
     place-self: center;
     gap: 10px;


}

.cards-div .card-div:nth-child(1)  img{
  

   position: relative;
   bottom:4.5%;
    
    
}

.cards-div .card-div:nth-child(3),
.cards-div .card-div:nth-child(4) {
    /* Apply any specific styles to the second row */
    margin-top: -5px; /* Example: Add margin to the top of the second row cards */
}

.cards-div .card-div:nth-child(3) img {
    margin-left: 2%;
}

.cards-div .card-div:nth-child(4) img {
    /* Apply any specific styles to the second row */
    width: 8vw; 
    margin-top: 6%;/* Example: Add margin to the top of the second row cards */
}


.card-div {
    place-self: center;
    margin:10%;
    
    
}

