.sideBar-div{

    width: 18vw;
    height: 100vh;

    background-color: #f9fbfc;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
    position: fixed;
   
    border-right: 1.5px solid  #ef8636;
    z-index: 1; 
   
}

.dashboard-items-div {
    display: flex;
    
    margin-top: 50%;
    flex-direction: column;
    gap: 20px;
    position: relative;
   
    height: 70vh;

}



.item {
    padding: 6px;
    width: 15vw;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #f39256;
    color: white;
    text-decoration: none;
  
}

.item img {
    height: 4vh;
   
}

.item-text {
    width: 8vw;
   
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
