.table-div {
   
    width: 100%;
    
    
    
  
}

.custom-table {
    width: 100%;
 
   
   
    

 
}

.custom-table th {
    padding: 8px;

    text-align: center; 
    border: 1px solid #ffe9c2;
}
.custom-table td {
  
  padding-left: 2%;
  padding-right:2%
  /* Left align the body text */
}



.custom-table th {
    background-color: #f39256; /* Header background */
    color: #f9fbfc; /* Header text color */
    font-weight: bold;
    text-transform: uppercase;

    
    
}





.custom-table tr:hover {

    background-color: #ffefe1; /* Hover effect */
}

.custom-table td {
    background-color:  #f9fbfc;;
    color: #333; 
    border-left: 1.5px solid orange;
    border-bottom: 1.5px solid orange;/* Text color */
}

.custom-table tr td:first-child {
    font-weight: bold;
}
